<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.offerbridge.backend.mapper.LoginAuditLogMapper">
  <insert id="insertLog">
    INSERT INTO login_audit_log(user_id, phone, login_method, success, reason, ip, user_agent)
    VALUES(#{userId}, #{phone}, #{loginMethod}, #{success}, #{reason}, #{ip}, #{userAgent})
  </insert>
</mapper>
