<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.offerbridge.backend.mapper.RefundRequestMapper">
  <insert id="insertOne">
    INSERT INTO refund_request(order_id, requested_by, refund_amount, reason, status)
    VALUES(#{orderId}, #{requestedBy}, #{refundAmount}, #{reason}, 'REQUESTED')
  </insert>
</mapper>
